$base-color: #3A4047;
$color-secondary: #ededed;
$color-title: #FEF49C;
$font-title: 'Roboto', sans-serif;
$other-font: 'Poppins', sans-serif;
$text-uppercase: uppercase;

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    color: #ededed;
    position: relative;
}

main {
    padding-top: 70px;
    background: linear-gradient(#3A3A3A, #493D5B);
    overflow: hidden;

}

.section__title {
    color: $color-title;
    font-family: $font-title;
    font-weight: 700;
}
.title--underscr::after{
    content: "";
    display: block;
    width: 51px;
    height: 3px;
    background-color: $color-secondary;
}
