.about {
    width: 75%;
    height: auto;
    background-color: rgba(87, 84, 92, 0.71);
    border-radius: 7px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 8px 8px 3px 1px rgba(54, 52, 56, 0.507);

    &__btn {
        text-transform: uppercase;
        text-align: center;
    }
    &__img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px; 
    }
    &__paragraph {
        margin-top: 25px;
        font-family: $other-font;
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 800px) {
   .about{
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .desktop__left {
       width: 50%;
       margin-left: 100px;
   }
   .about__paragraph{
       font-size: 1rem;
   }
   .about__img {
       width: 180px;
       height: 180px;
   }
}