.skills {
    position: relative;
}
.skills__title {
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
}

.title--underscr--skills::after{
    content: "";
    display: block;
    width: 51px;
    height: 3px;
    background-color: #ededed;
    position: absolute;
    top: 30px;
    left: 96px;
}
.skills__tools--content img {
    width: 60%;
    display: block;
    margin: 50px auto;
}
.skills__tools--title {
    margin-top: 20px;
    text-align: center;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.9rem;
}