.competences__title {
    margin-top: 50px;
    font-size: 1.4rem;
    text-align: center;
    font-family: $font-title;
    color: $color-title;
    text-transform: $text-uppercase;
}
.competences__title::after {
    content: "";
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: $color-secondary;
    margin: 10px;
}
.competences__title::before {
    content: "";
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: $color-secondary;
    margin: 10px;
}
.competences__box {
    width: 80%;
    margin: 40px auto;
    border-radius: 10px;
    background-color: #ededed;
    height: 250px;
    transition: 0.3s;
}
.competences__box:hover {
    box-shadow: 7px 7px 4px rgba(237, 237, 237, 0.25);
}
.box__title {
    color: #0D0D0D;
    text-align: center;
    font-size: 1rem;
    padding-top: 20px;
    text-transform: $text-uppercase;
}
.box__img {
    width: 12%;
    margin-left: 30px;
}

