.footer__paragraph {
    text-align: center;
    font-size: 1rem;
    color: $color-secondary;
    margin: 40px 0 20px 0;
}
.nav__arrow {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
@media screen and (max-width: 800px) {
    .nav__arrow {
        display: none;

    }
}