
.navbar-expand-xl .navbar-nav .nav-link  {
    color: $color-secondary;
    font-weight: 700;
}
.nav-link {
    font-size: 1.2rem;
    font-family: $other-font;
    text-transform: $text-uppercase;

}
.navbar-logo {
    width: 60px;
    height: 60px;
}
.navbar {
    padding: 15px;
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: 10;
}
.navbar-toggler {
    border: none;
}
.navbar-brand {
    margin-left: 20px;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: url(../../img/photo-1607743386760-88ac62b89b8a-20.png);
    background-position: top center;
    background-size: cover;
    position: relative;
   
    &__div {
        color: #ededed;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__btn {
        margin-top: 40px;
    }
    &__title {
        font-size: 1.5rem;
        color: $color-title;
        font-family: $other-font;
        padding-top: 15px;
        font-weight: 600;
    }
    &__maintitle, &__title {
        text-align: center;
        text-transform: $text-uppercase;
    }
    &__maintitle {
        font-size: 2rem;
        font-weight: 700;
        font-family: $font-title;
    }
}

@media (min-width: 992px) {
    .navbar-collapse{
        justify-content: flex-end;
        margin-right: 70px;
    }
    .navbar-brand {
        margin-left: 70px;
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__img {
        height: 600px;
    }
  
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
        transition: ease-out 0.2s;
    }
    .navbar-expand-xl .navbar-nav .nav-link:hover {
        color: $color-title;
        border-bottom: 2px solid $color-title;
    }
    .header__maintitle {
        font-size: 3rem;
    }
    .header__title {
        font-size: 1.5rem;
    }
    .header__btn {
        font-size: 1rem;
    }
}
