.skills__title {
    margin: 70px 0;
}
.skills__title, .skills__subtitle {
    text-align: center;
    text-transform: uppercase;
}
.skills__subtitle {
    font-size: 1.3rem;
}
.tools {
    margin-top: 30px;
}
.tools, .lang {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tools__content, .lang__content {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tools__img, .lang__img {
    width: 45px;
    height: 40px;
    margin: 25px;
}

.lang--sub {
    margin-top: 40px;
    margin-bottom: 30px;
}
.css--img {
    width: 35px;
}
.js--img {
    width: 60px;
}